body{
    background-color: #333;
    color: white;
}

.navbar{
    border-bottom: #008ed6 2px solid;
    opacity: 0.8;
}

/* HOME SECTION*/

#home-section{
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 750px;
}

#home-section .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 750px;
    background-color: rgba(0,0,0,0.8);
}

#home-section .home-inner{
    padding-top: 150px;
}

#home-section .card-form{
    opacity: 0.7;
}

#home-section .fas{
    color: #008ed6;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}


/* EXPLORE SECTION 2 */

#explore-section .fas{
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}



/*CREATE SECTION */

#create-head-section{
    background-color: #0275d8;
    color: white;
}

#create-section .fas{
    color: #0275d8;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

/*SHARE*/

#share-head-section{
    background-color: #0275d8;
    color: white;
}

#share-section .fas{
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}